<div id="<%= dom_id notification %>">
  <p>
    <strong><%= "Message" %>:</strong>
    <%= notification.Message %>
  </p>

  <p>
    <strong><%= "Time" %>:</strong>
    <%= notification.created_at %>
  </p>

  <br>

</div>
