<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <strong>Online inperson:</strong>
    <%= event.online_InPerson %>
  </p>

  <p>
    <strong>Post permission:</strong>
    <%= event.post_permission %>
  </p>

  <p>
    <strong>Invite permission:</strong>
    <%= event.invite_permission %>
  </p>

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

</div>
