<div id="<%= dom_id event %>">
  <p>
    <strong>Name:</strong>
    <%= event.name %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= event.date %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= event.description %>
  </p>

  <p>
    <% if event.online_InPerson %>
      <strong>Online</strong>
    <% else %>
      <strong> In Person</strong>
    <% end %>
  </p>

  <p>
    <strong>Privacy:</strong>
    <%= event.privacy %>
  </p>
  

  <p>
    <strong>Location:</strong>
    <%= event.location %>
  </p>

  <p>
    <strong>Going</strong>
    <%= event.going.count%>
    <% @going.each do |friend| %>
      <div>
        <%= friend.user_name %>
    </div>
    <%end%>
  </p>

  <p>
    <strong>Interested</strong>
    <%= event.interested.count%>
    <% @interested.each do |friend| %>
      <div>
        <%= friend.user_name %>
      </div>
    <%end%>
  </p>

  <% unless @event == nil %>
    <% status = nil %>
    <% if @event.going.include?(current_user)%>
      <% status = "Going" %>
    <% elsif @event.interested.include?(current_user) %>
      <% status = "Interested" %>
    <%end%>
    <strong><%= status %></strong>
    <% unless status == "Going" %>
      <%= button_to "Going", event_going_path(event_id: @event.id), method: :post %>
    <%end%>
    <% puts @status %>
    <% unless status == "Interested" %>
      <%= button_to "Interested", event_interested_path(event_id: @event.id), method: :post %>
    <%end%>
    <% unless status == nil %>
      <%if current_user.invited_to_events.include?(@event) %>
        <%= button_to "Not going", event_delete_invitation, method: :delete %>
      <%else%>
        <%= button_to "Not going", event_delete_response_path(event_id: @event.id), method: :delete %>
      <%end%>
    <%end%>
  <%end%>

</div>
