<p style="color: green"><%= notice %></p>

<h1><%= t"Posts" %></h1>

<div id="posts">
  <% @posts.each do |post| %>
    <%= render post %>
    <p>
      <%= link_to t("Show this post"), post %>
    </p>
  <% end %>
</div>

<%= link_to t("New post"), new_post_path %>
