<p style="color: green"><%= notice %></p>

<% @post.image.each do |i| %>
 <%= image_tag(i, size: "200x200") %>
<% end %>


<%= render @post %>
<%= @post.likes.count %> Likes
<% like = current_user.likes.find_by(post: @post) %>
<% if like.nil? %>
  <%= button_to 'Like', likes_path, params: {like: {post_id: @post.id}} %>
<% else %>
  <%= button_to 'Dislike', like_path(like), method: :delete %>
<% end %>

<h2> <%= @post.comments.count %> Comments </h2>
<%= render @post.comments %>

<%= render 'comments/form' %>
<%# <%= render 'comments/comment' %> 



<div>
  <%= link_to "Edit this post", edit_post_path(@post) %> 
  <%= link_to "Back to posts", posts_path %>

  <%= button_to "Destroy this post", @post, method: :delete %>
</div>
